body {
  background-color: #32FF7A;
  color: #2A2B2E;
  font-family: "PT Mono", monospace;
}

a {
  color: #2A2B2E;
}

.text-bg-dark {
  background-color: #2A2B2E;
}

.cover-container {
  max-width: 42em;
}

.title {
  font-size: 6rem;
  font-weight: bold;
}